
<div class="table-header">
    <ul class="table-header-body">
        <li class="table-destak-title">
            <h3 class="absolute-item">{{head.features.title}}</h3>
        </li>
        <li class="table-header-item">
            <h3 class="table-title">{{head.developers.title}}</h3>
            <p>{{head.developers.description}}</p>
            <hr>
        </li>
        <li class="table-header-item">
            <h3 class="table-title most-popular">
                <small>{{head.enterprise.most_popular}}</small>
                {{head.enterprise.title}}
            </h2>
            <p>{{head.enterprise.description}}</p>
            <hr>
        </li>
        <li class="table-header-item">
            <h3 class="table-title">{{head.mission_critical.title}}</h2>
            <p>{{head.mission_critical.description}}</p>
            <hr>
        </li>
    </ul>
</div>

<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item1.title}}</h3>
            </div>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item1.text1 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item1.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item1.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item2.title}}</h3>
            </div>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item2.text1 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item2.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item2.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item3.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item3.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item3.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item4.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item4.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item4.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item5.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item5.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item5.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item6.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item6.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item6.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item7.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item7.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item7.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item8.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item8.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item8.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item9.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item9.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item9.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item10.title}}</h3>
            </div>
        </li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item empty-item"></li>
        <li class="feature-item">
            <p class="item-description">{{body.item10.text3 }}</p>
        </li>
    </ul>
</div>
<div>
    <ul class="feature-list">
        <li class="table-item-category">
            <div class="box">
                <h3 class="absolute-item">{{body.item11.title}}</h3>
            </div>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item11.text1 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item11.text2 }}</p>
        </li>
        <li class="feature-item">
            <p class="item-description">{{body.item11.text3 }}</p>
        </li>
    </ul>
</div>

<div class="last-line">
    <ul class="feature-list">
        <li class="table-item-category"></li>
        <li class="feature-item">
            <a href="{{body.item11.btn1.link}}" class="btn btn-secondary">
                {{body.item11.btn1.text}}
                <i class="icon icon-arrow-right"></i>
            </a>
        </li>
        <li class="feature-item">
            <a href="{{body.item11.btn2.link}}" class="btn btn-brand">
                {{body.item11.btn2.text}}
                <i class="icon icon-white-arrow-right"></i>
            </a>
        </li>
        <li class="feature-item">
            <a href="{{body.item11.btn3.link}}" class="btn btn-secondary">
                {{body.item11.btn3.text}}
                <i class="icon icon-arrow-right"></i>
            </a>
        </li>
    </ul>
</div>
