<div id="featureBlockContent">
    <div class="feature-box">
        <div class="description-box">
            <h3 class="table-title">
                {{head.developers.title}}
            </h3>
            <p class="description">
                {{head.developers.description}}
            </p>

            <div class="btn-content">
                <a href="{{body.item11.btn1.link}}" class="btn btn-secondary">
                    {{body.item11.btn1.text}}
                    <i class="icon icon-arrow-right"></i>
                </a>
            </div>
        </div>

        <a href="javascript: void(0)" class="btn-features btn-show-all">
            {{button.see_all_features.text}}
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.36483e-07 1.03125C7.48777e-07 1.3125 0.0875051 1.5 0.262514 1.6875L3.9377 5.71875C4.11271 5.90625 4.28772 6 4.55023 6C4.81275 6 4.98775 5.90625 5.16276 5.71875L8.83795 1.78125C9.18797 1.40625 9.18797 0.843751 8.83795 0.468751C8.48793 0.093751 7.96291 0.093751 7.61289 0.468751L4.55023 3.65625L1.48758 0.281251C1.13756 -0.0937488 0.612532 -0.0937488 0.262514 0.281251C0.0875051 0.468751 7.2419e-07 0.750001 7.36483e-07 1.03125Z" fill="#646464"/>
            </svg>
        </a>
        <a href="javascript: void(0)" class="btn-features btn-show-less">
            {{button.see_less_features.text}}
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.10046 4.96875C9.10046 4.6875 9.01296 4.5 8.83795 4.3125L5.16276 0.28125C4.98775 0.09375 4.81274 2.20443e-08 4.55023 2.08419e-08C4.28772 1.96395e-08 4.11271 0.09375 3.9377 0.28125L0.262513 4.21875C-0.0875044 4.59375 -0.0875044 5.15625 0.262513 5.53125C0.612531 5.90625 1.13756 5.90625 1.48758 5.53125L4.55023 2.34375L7.61289 5.71875C7.96291 6.09375 8.48793 6.09375 8.83795 5.71875C9.01296 5.53125 9.10046 5.25 9.10046 4.96875Z" fill="#646464"/>
            </svg>
        </a>

        <ul class="feature-list">
            <li class="feature">
                <h3 class="feature-title">{{body.item1.title}}</h3>
                <p class="feature-description">{{body.item1.text1}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item2.title}}</h3>
                <p class="feature-description">{{body.item2.text1}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item3.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item4.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item5.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item6.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item7.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item8.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item9.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item10.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item11.title}}</h3>
                <p class="feature-description">{{body.item11.text1}}</p>
            </li>
        </ul>
    </div>

    <div class="feature-box most-popular">
        <div class="description-box">
            <h3 class="table-title most-popular">
                <small>{{head.enterprise.most_popular}}</small>
                {{head.enterprise.title}}
            </h3>
            <p class="description">
                {{head.enterprise.description}}
            </p>

            <div class="btn-content">
                <a href="{{body.item11.btn2.link}}" class="btn btn-brand">
                    {{body.item11.btn2.text}}
                    <i class="icon icon-white-arrow-right"></i>
                </a>
            </div>
        </div>

        <a href="javascript: void(0)" class="btn-features btn-show-all">
            {{button.see_all_features.text}}
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.36483e-07 1.03125C7.48777e-07 1.3125 0.0875051 1.5 0.262514 1.6875L3.9377 5.71875C4.11271 5.90625 4.28772 6 4.55023 6C4.81275 6 4.98775 5.90625 5.16276 5.71875L8.83795 1.78125C9.18797 1.40625 9.18797 0.843751 8.83795 0.468751C8.48793 0.093751 7.96291 0.093751 7.61289 0.468751L4.55023 3.65625L1.48758 0.281251C1.13756 -0.0937488 0.612532 -0.0937488 0.262514 0.281251C0.0875051 0.468751 7.2419e-07 0.750001 7.36483e-07 1.03125Z" fill="#646464"/>
            </svg>
        </a>
        <a href="javascript: void(0)" class="btn-features btn-show-less">
            {{button.see_less_features.text}}
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.10046 4.96875C9.10046 4.6875 9.01296 4.5 8.83795 4.3125L5.16276 0.28125C4.98775 0.09375 4.81274 2.20443e-08 4.55023 2.08419e-08C4.28772 1.96395e-08 4.11271 0.09375 3.9377 0.28125L0.262513 4.21875C-0.0875044 4.59375 -0.0875044 5.15625 0.262513 5.53125C0.612531 5.90625 1.13756 5.90625 1.48758 5.53125L4.55023 2.34375L7.61289 5.71875C7.96291 6.09375 8.48793 6.09375 8.83795 5.71875C9.01296 5.53125 9.10046 5.25 9.10046 4.96875Z" fill="#646464"/>
            </svg>
        </a>

        <ul class="feature-list">
            <li class="feature">
                <h3 class="feature-title">{{body.item1.title}}</h3>
                <p class="feature-description">{{body.item1.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item2.title}}</h3>
                <p class="feature-description">{{body.item2.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item3.title}}</h3>
                <p class="feature-description">{{body.item3.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item4.title}}</h3>
                <p class="feature-description">{{body.item4.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item5.title}}</h3>
                <p class="feature-description">{{body.item5.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item7.title}}</h3>
                <p class="feature-description">{{body.item7.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item7.title}}</h3>
                <p class="feature-description">{{body.item7.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item8.title}}</h3>
                <p class="feature-description">{{body.item8.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item9.title}}</h3>
                <p class="feature-description">{{body.item9.text2}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item10.title}}</h3>
                <p class="feature-description empty-item"></p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item11.title}}</h3>
                <p class="feature-description">{{body.item11.text2}}</p>
            </li>
        </ul>
    </div>

    <div class="feature-box">
        <div class="description-box">
            <h3 class="table-title">
                {{head.mission_critical.title}}
            </h3>
            <p class="description">
                {{head.mission_critical.description}}
            </p>

            <div class="btn-content">
                <a href="{{body.item11.btn3.link}}" class="btn btn-secondary">
                    {{body.item11.btn3.text}}
                    <i class="icon icon-arrow-right"></i>
                </a>
            </div>
        </div>

        <a href="javascript: void(0)" class="btn-features btn-show-all">
            {{button.see_all_features.text}}
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.36483e-07 1.03125C7.48777e-07 1.3125 0.0875051 1.5 0.262514 1.6875L3.9377 5.71875C4.11271 5.90625 4.28772 6 4.55023 6C4.81275 6 4.98775 5.90625 5.16276 5.71875L8.83795 1.78125C9.18797 1.40625 9.18797 0.843751 8.83795 0.468751C8.48793 0.093751 7.96291 0.093751 7.61289 0.468751L4.55023 3.65625L1.48758 0.281251C1.13756 -0.0937488 0.612532 -0.0937488 0.262514 0.281251C0.0875051 0.468751 7.2419e-07 0.750001 7.36483e-07 1.03125Z" fill="#646464"/>
            </svg>
        </a>
        <a href="javascript: void(0)" class="btn-features btn-show-less">
            {{button.see_less_features.text}}
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.10046 4.96875C9.10046 4.6875 9.01296 4.5 8.83795 4.3125L5.16276 0.28125C4.98775 0.09375 4.81274 2.20443e-08 4.55023 2.08419e-08C4.28772 1.96395e-08 4.11271 0.09375 3.9377 0.28125L0.262513 4.21875C-0.0875044 4.59375 -0.0875044 5.15625 0.262513 5.53125C0.612531 5.90625 1.13756 5.90625 1.48758 5.53125L4.55023 2.34375L7.61289 5.71875C7.96291 6.09375 8.48793 6.09375 8.83795 5.71875C9.01296 5.53125 9.10046 5.25 9.10046 4.96875Z" fill="#646464"/>
            </svg>
        </a>

        <ul class="feature-list">
            <li class="feature">
                <h3 class="feature-title">{{body.item1.title}}</h3>
                <p class="feature-description">{{body.item1.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item2.title}}</h3>
                <p class="feature-description">{{body.item2.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item3.title}}</h3>
                <p class="feature-description">{{body.item3.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item4.title}}</h3>
                <p class="feature-description">{{body.item4.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item5.title}}</h3>
                <p class="feature-description">{{body.item5.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item7.title}}</h3>
                <p class="feature-description">{{body.item7.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item7.title}}</h3>
                <p class="feature-description">{{body.item7.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item8.title}}</h3>
                <p class="feature-description">{{body.item8.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item9.title}}</h3>
                <p class="feature-description">{{body.item9.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item10.title}}</h3>
                <p class="feature-description">{{body.item10.text3}}</p>
            </li>
            <li class="feature">
                <h3 class="feature-title">{{body.item11.title}}</h3>
                <p class="feature-description">{{body.item11.text3}}</p>
            </li>
        </ul>
    </div>
</div>
