<div class="box-container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div>
                    <figure class="proof-icon box-image"></figure>
                    <div class="box-description">
                        <h2>
                            {{ list.item1.title }}
                        </h2>
                        <p>{{ list.item1.description }}</p>
                        <a class="btn btn-secondary" href="{{ button.our_products.href }}" title="{{ button.our_products.text }}">{{ button.our_products.text }}</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <figure class="zero-trust-icon box-image"></figure>
                    <div class="box-description">
                        <h2>
                            {{ list.item2.title }}
                        </h2>
                        <p>{{ list.item2.description }}</p>
                        <a class="btn btn-secondary" href="{{ button.our_products.href }}" title="{{ button.our_products.text }}">{{ button.our_products.text }}</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <figure class="ultimate-ux-icon box-image"></figure>
                    <div class="box-description">
                        <h2>
                            {{ list.item3.title }}
                        </h2>
                        <p>{{ list.item3.description }}</p>
                        <a class="btn btn-secondary" href="{{ button.our_products.href }}" title="{{ button.our_products.text }}">{{ button.our_products.text }}</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <figure class="realtime-icon box-image"></figure>
                    <div class="box-description">
                        <h2>
                            {{ list.item4.title }}
                        </h2>
                        <p>{{ list.item4.description }}</p>
                        <a class="btn btn-secondary" href="{{ button.our_products.href }}" title="{{ button.our_products.text }}">{{ button.our_products.text }}</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <figure class="i5g-icon box-image"></figure>
                    <div class="box-description">
                        <h2>
                            {{ list.item5.title }}
                        </h2>
                        <p>{{ list.item5.description }}</p>
                        <a class="btn btn-secondary" href="{{ button.our_products.href }}" title="{{ button.our_products.text }}">{{ button.our_products.text }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>
